<div class="home-page">

  <div class="teaser-challenges">
    <% @teasers.each do |challenge| %>
      <div class="challenge">
        <%= image_tag challenge.image_1.image(:home_page) %>
        <%= image_tag challenge.image_2.image(:home_page) %>
      </div>
    <% end %>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="teaser-text">CAN YOU FIGURE IT OUT?</div>


  <%= form_for @user, :url => signup_login_path, :method => :post do |f| %>
    <div class="field"><%= f.email_field :email, :placeholder => "you@yours.com", :autocomplete => "off", :required => true %></div>

    <div class="field"><%= f.password_field :password, :placeholder => "password", :autocomplete => "off", :required => true %></div>

    <div>
      <%= image_submit_tag "buttons/btn_play.png" %>
    </div>

  <% end %>
</div>
