<div class="home-page">

  <div class="teaser-challenges">
    <% @teasers.each do |challenge| %>
      <%= render :partial => "challenges/display", :locals => { :challenge => challenge, :thumb => :home_page } %>
    <% end %>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="teaser-text">CAN YOU FIGURE IT OUT?</div>


  <%= form_for(@user, :as => :user, :url => registration_path(@user)) do |f| %>

    <div class="field"><%= f.email_field :email, :placeholder => "you@yours.com", :autocomplete => "off" %></div>

    <div class="field"><%= f.password_field :password, :placeholder => "password", :autocomplete => "off" %></div>

    <div><%= f.submit "Play" %></div>
  <% end %>

</div>
