<div class="home-page">

  <div class="teaser-challenges">
    <% @teasers.each do |challenge| %>
      <%= render :partial => "challenges/display", :locals => { :challenge => challenge, :thumb => :home_page, :create_links => user_signed_in? } %>
    <% end %>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="teaser-text">CAN YOU FIGURE IT OUT?</div>


  <%= form_for @user, :url => signup_login_path do |f| %>
    <div class="field"><%= f.email_field :email, :placeholder => "you@yours.com", :autocomplete => "off", :required => true %></div>

    <div class="field"><%= f.password_field :password, :placeholder => "password", :autocomplete => "off", :required => true %></div>

    <div>
      <%= image_submit_tag "buttons/btn_play.png" %>
    </div>

  <% end %>
</div>
