<div class="response-page">

  <div style="text-align: center">
    <%= image_tag "your_challenge.png" %>
  </div>

  <%= render :partial => "challenges/larger_display", :locals => { :challenge => @challenge } %>

  <div class="clear">&nbsp;</div>

  <div class="hint-string"><%= @challenge.hint_string %></div>

  <div class="clear">&nbsp;</div>

  <div style="text-align: center">
    <%= form_tag challenge_responses_path(@challenge) do %>
      <%= text_field_tag :answer, nil, :placeholder => "Guess the phrase!", :autocomplete => "off" %>
    <% end  %>
  </div>
</div>
