<div class="response-page">

  <div style="text-align: center">
    <%= image_tag "your_challenge.png" %>
  </div>

  <%= render :partial => "challenges/larger_display", :locals => { :challenge => @challenge } %>

  <div class="clear">&nbsp;</div>

  <div class="hint-string"><%= @challenge.hint_string(@resp.show_vowels) %></div>

  <div class="clear">&nbsp;</div>

  <%= form_tag challenge_responses_path(@challenge) do %>
    <div class="answer-field">
      <%= text_field_tag :answer, nil, :placeholder => "Guess the phrase!", :autocomplete => "off" %>
    </div>

    <div class="buttons">
      <%= image_submit_tag "buttons/btn_guess.png" %>
      <% unless @resp.show_vowels? %>
        <%= link_to image_tag("buttons/btn_stumped.png"), new_vowel_purchase_path(:resp_id => @resp.id)  %>
      <% end %>
    </div>
  <% end  %>
</div>
