<div class="response-page">

  <div style="text-align: center">
    <%= image_tag "your_challenge.png" %>
  </div>

  <%= render :partial => "challenges/larger_display", :locals => { :challenge => @challenge } %>

  <div class="clear">&nbsp;</div>

  <div class="hint-string"><%= @challenge.hint_string(@resp.show_vowels) %></div>

  <div class="clear">&nbsp;</div>

  <div style="text-align: center">
    <%= form_tag challenge_responses_path(@challenge) do %>
      <%= text_field_tag :answer, nil, :placeholder => "Guess the phrase!", :autocomplete => "off" %>
    <% end  %>
  </div>

  <% unless @resp.show_vowels? %>
    <div style="text-align: center; margin-top: 20px">
      <%= link_to image_tag("buttons/btn_stumped.png"), new_vowel_purchase_path(:resp_id => @resp.id)  %>
    </div>
  <% end %>
</div>
