<div class="correct-response-page">
  <h2>Good job! You truly PWN!</h2>

  <div class="answer">
    <p>You have correctly answered:</p>
    <p>"<%= @challenge.answer %>"</p>

    <p><strong><%= @resp.points_for_this_attempt %> points awarded</strong> for answering in <%= pluralize(@resp.attempts, "attempt") %>.</p>
    <p>Send the challenge to a friend and <%= link_to_function "see if they pwn as hard as you!", "$('#send-to-friend-form').show()" %>
  </div>

    <div class="send-to-friend-form" id="send-to-friend-form">
      <p>Enter their email</p>
      <%= form_tag challenge_emails_path, :method => :post do %>
        <%= hidden_field_tag :challenge_id, @challenge.id %>
        <%= email_field_tag :email, nil, :placeholder => "your@friend.com" %>
        <%= image_submit_tag "buttons/btn_send.png" %>
      <% end %>
    </div>

  <div style="padding: 40px 0">

    <div class="options">
      <%= link_to image_tag("buttons/btn_next_puzzle.png", :width => 100), new_challenge_response_path(current_user.next_challenge) %> &rarr; <br />
      <%= link_to image_tag("buttons/btn_create_puzzle.png", :width => 100), new_challenge_path, :class => "add-your-own" %> <br />
    </div>

    <div class="challenge">
      <%= render :partial => "challenges/large_display", :locals => { :challenge => current_user.next_challenge } %>
    </div>

  </div>

  <div class="clear">&nbsp;</div>
</div>
