<p id="notice"><%= notice %></p>

<p>
  <b>Image 1:</b>
  <%= @challenge.image_1_id %>
</p>

<p>
  <b>Image 2:</b>
  <%= @challenge.image_2_id %>
</p>

<p>
  <b>Clue:</b>
  <%= @challenge.clue %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
