<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
  <h1>
    WELCOME to the <%= link_to "Impossible Mission Force", GlobalConfig[:base_url] %>
  </h1>

  <h2>
    Your challenge, should you choose to accept it, is to uncover the Steganographic below. Your friend believes you have what it takes to solve it...
  </h2>

  <h3>
    We'll be waiting for your answer... <%= link_to("ACT NOW", GlobalConfig[:base_url] + root_path(:challenge_id => @challenge.id, :email => @email)) %>
  </h3>


  <table style="border: 1px solid gray">
    <tr>
      <td><%= image_tag GlobalConfig[:base_url] + @challenge.image_1.image(:default) %></td>
      <td><%= image_tag GlobalConfig[:base_url] + @challenge.image_2.image(:default) %></td>
    </tr>

    <tr>
      <td colspan="2" style="font-size: 22px; line-height: 28px; letter-spacing: 3px; text-align: center;"><%= @challenge.hint_string %></td>
    </tr>
  </table>

</body>
</html>
