<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
  <h1>
    You have received a challenge from <%= link_to "Steganographic!", GlobalConfig[:base_url] %>
  </h1>

  <h2>
    Can you guess the phrase below for these two images?
  </h2>

  <h3>
    If so, <%= link_to("click here to answer it!", GlobalConfig[:base_url] + root_path(:challenge_id => @challenge.id, :email => @email)) %>
  </h3>


  <table style="border: 1px solid gray">
    <tr>
      <td><%= image_tag GlobalConfig[:base_url] + @challenge.image_1.image(:default) %></td>
      <td><%= image_tag GlobalConfig[:base_url] + @challenge.image_2.image(:default) %></td>
    </tr>

    <tr>
      <td colspan="2" style="font-size: 22px; line-height: 28px; letter-spacing: 3px; text-align: center;"><%= @challenge.hint_string %></td>
    </tr>
  </table>

</body>
</html>
