<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="title">
        <%= link_to "THE IMPOSSIBLE MISSION FORCE PWNS YOUR SOUL", root_url %>

      </div>
      <div class="nav">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
        <%else  %>
          <%= link_to "Log in", new_user_session_path %> |
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash"><%= flash[:notice] %></div>
    <% end %>


    <%= yield %>

  </div>
</body>
</html>
