<!DOCTYPE html>
<html>
<head>
  <title>Impossible Mission Force is The Ultimate Game! OMG!!?!1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="wrapper">

    <div class="header">
      <div class="title">

        <%= link_to image_tag("title.png", :width => 800), root_url %>

      </div>
      <div class="nav">
        <% if user_signed_in? %>
          <%= link_to image_tag("buttons/btn_logout.png"), destroy_user_session_path, :method => :delete %>
        <%else  %>
          <%= link_to image_tag("buttons/btn_login.png"), new_user_session_path %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="clear">&nbsp;</div>

        <div class="points-counter">
          Points: <%= current_user.points %>
        </div>
      <% end %>

      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://imf.playmob.com">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <% if flash[:notice] %>
      <div class="flash"><%= flash[:notice] %></div>
    <% end %>


    <%= yield %>

  </div>
</body>
</html>
