<!DOCTYPE html>
<html>
<head>
  <title>Impossible Mission Force is The Ultimate Game! OMG!!?!1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/facebook_sdk' %>

  <div class="wrapper">

    <div class="header">

      <div class="logo">
        <%= link_to image_tag("logo.png"), root_url %>
      </div>

      <div class="by">
        presented <br />
        by the ...
      </div>

      <div class="imf">
        IMPOSSIBLE MISSION <br />
        FORCE
      </div>

      <div class="nav">
        <% if user_signed_in? %>
          <%= link_to image_tag("buttons/btn_logout.png"), destroy_user_session_path, :method => :delete %>
        <% end %>
        <%= link_to image_tag("buttons/btn_scoreboard.png"), leaderboard_path %>

        <% if user_signed_in? %>

          <div class="points-counter">
            Points: <%= current_user.points %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content-wrapper">
      <% if flash[:notice] %>
        <div class="flash"><%= flash[:notice] %></div>
      <% end %>


      <%= yield %>
    </div>

  </div>
  <div class="footer">
    <%= mail_to "contact@impossiblemissionforce.co.uk", "contact us", :subject => "[IMF Contact email]", :encode => "javascript" %>
  </div>

  <%= render :partial => "layouts/google_analytics" %>
</body>
</html>
